.modal { 
   z-index: 55;
}
.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 55;
}
.modal__close{   
    position: absolute; 
    width: 2.5em;
    height: 2.5em;
    top: 3.3em;
    right: 5em;
    cursor: pointer; 
    background: url(images/close.svg) no-repeat center / 100% 100%;
    transition: 0.4s opacity;
    opacity: 0.7;
}
.modal__close:hover{
    opacity: 1;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
   display: none;
}

.micromodal-slide.is-open {
   display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
   animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
   animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
   animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
   animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}
 

.modal__container { 
    color: #fff;
    padding: 3em; 
    width: 87.625em;
    height: 49.2em;   
    position: relative;
    margin: 0 1em;
    display: flex; 
    flex-direction: column; 
    overflow: hidden;
    background: url(images/back-pops.svg) no-repeat center / contain;
}
#modalName .modal__container{
    background: none;
    padding: 0;
    width: 67em;
    height: auto;/*25.8125em;*/
    text-align: center;
    margin: 0;
}
@media(max-height: 45.3vw){
    .modal__container{
        font-size: 1.84vh;
    }
}
.modal__content{
    height: 100%; 
    max-width: 66.9em;
    margin: 0 auto;
    flex-grow: 1;
    width: 100%; 
    overflow: auto;
    padding-right: 0.8em;
} 
.modal__content a{
    color: blue;
}  
#modalLog .modal__content{
    margin-top: 4em;
}

#modalName .modal__overlay{
    background-color: #041021;
    background-image: url(game.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#modalName .modal__content{
    max-width: 100%;
    padding: 1em;
}
#modalCardDesc .modal__content,
#modalGlos .modal__content,
#modalRules .modal__content{ 
    max-width: 76.3em;
    margin: 6.4em auto 0.9em; 
    padding-right: 6.75em;
    padding-left: 4.75em;
}
#modalCardDesc .modal__content{
    padding-right: 4.35em;
    padding-left: 5.75em;
    padding-top: 0.7em;
}
#modalCardDesc .modal__close{
    top: 5em;
    right: 4.7em;
}