{% extends 'layout.html' %}
{{ super() }}
{% block extrahead %}
    <link rel="stylesheet" href="{{ url_for("static", filename="mod_game/endgame.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="mod_game/game.css") }}">

{% endblock %}
{% block content %}
    <script src="../static/vue.min.js"></script>
    <script src="../static/renderjson.js"></script>
    <script src="{{ url_for('static', filename='conn.js') }}"></script>
    <script>
        shouldWarn = false;
    </script>
    <script src="{{ url_for('static', filename='mod_game/game.js') }}"></script>
    <script src="{{ url_for('static', filename='mod_game/log.js') }}"></script>

<div id="app"> 
    <div v-if="!is_game_loaded">Loading...</div>
    <div class="endgame" v-else>
        <div class="endgame__title">Результаты игры</div>
        <div class="endgame__subtitle">Игра окончена. У игрока вас закончились карты.</div>
        <div id="players" class="players-list">
            <div v-for="(player,index) in players_list" :key="player.id" v-if="index<1" class="players-list__title">В раунде №1 пробедил игрок [[player.name]]</div> 
            <div v-for="player in players_list" :key="player.id" class="player"
                             v-bind:class="{admin_player:player.is_admin}">
                <span class="player-name">[[player.name]]</span>
                <span class="budget">[[player.money]] <span class="falsic"></span></span>
            </div>
        </div>
        <a href="javascript:;" class="endgame__log-button" onclick="MicroModal.show('modalLog',{ closeTrigger: 'data-modal-close', openClass: 'is-open', 
            disableScroll: false,  
            disableFocus: true,  
            awaitOpenAnimation: false,  
            awaitCloseAnimation: true,  
            debugMode: false  
        });">Посмотреть лог битвы</a>
        <div class="modal micromodal-slide" id="modalLog" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-modal-close>
                <div class="modal__container">
                    <div class="modal__close" data-modal-close></div>
                    <div class="modal__content">
                        <log  :log="log" :players="players_list" :cards="cards"> </log>
                    </div>
                </div>
            </div>
        </div> 
        <div class="endgame__buttons">
            <a href="javascript:;" class="button"><span>Следующий раунд</span></a>
            <a href="javascript:;" class="button"><span>Создать новую игру</span></a>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            is_game_loaded: false,
            game_name: '',
            round_no: 0,
            players_list: [],
            cards: [],
            log: [],
        },
        created() {
            socket.emit('cards');
            socket.emit('endgame_state');
            socket.emit('log',0);

            socket.on('log', (data) => {
                this.log = data.value;
            });

            socket.on('cards', (data) => {
                const cards = data.value;
                this.cards = {};

                for (i of cards) {
                    this.cards[i.id] = i;
                }
            });

            socket.on('endgame_state', (data) => {
                const game_data = data.value.game;
                this.game_name = game_data.game_name;
                this.round_no = game_data.round_no;
                document.getElementById('round-no').innerText = game_data.round_no;
                this.players_list = [];
                this.self_player = game_data.self_player;


                for (player of game_data.players) {
                    const {id, name, money, is_online} = player;
                    this.players_list.push({
                        id, name, money });
                }
                this.players_list.sort(function(a,b){
                if (a.money < b.money)
                    return 1
                if (a.money > b.money)
                    return -1
                return 0
                });

                this.is_game_loaded = true;
            });

            socket.on('connect', function () {
                 socket.emit('endgame_state');
            });


        },
        methods: {

            get_username_by_id(id) {
                player = this.players_list.filter(obj => {
                    return obj.id === id
                });
                if (player && player.length > 0) {
                    return player[0].name;
                } else {
                    return undefined;
                }
            },
        }
    })
</script>
{% endblock %}